@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --white: white;
    --black: black;
    --yellow: #FFCD00;
    --light-yellow: #FFE680;
    --grey: #4D4D4D;

    --primary-font: 'Raleway', serif;
}

body {
    display: grid;
    grid-template: auto 1fr/ 1fr;

    @media screen and (min-width: 1024px) {
        grid-template: 1fr / auto 1fr;
    }
}

button {
    cursor: pointer;
}

.not-found{
    grid-column: span 5;
    text-align: center;
}